
input,label,select{
    margin-top: 20px;
    margin-left: 70px;
    font-size: 18px;
}

input{
    width: 70%;
    height:30px;
}
small{
    margin-left: 12%;
}
h3{
    margin-left: 30%;
    text-align: center;
    border: 2px solid black;
    width: 40%;
    height: 50px;
    font-size:25px;
    opacity: 0.9;
}

.form-container{
    margin-left: 30%;
    border: 2px solid black;
    width:40%;
    background-color:rgb(134, 152, 182);
    opacity: 0.9;
}
.btn{
    margin-left: 90px;
}

h2{
    margin-right: 20px;
    float: right;
}
.signUp-container{
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    opacity: 1;
}
.master{
    margin: 0px;
}

.back{
    padding-left:20px;
    font-size: xx-large;
}
.head{
    margin-left: 1180px;
}