
table,th,tr,td {
    margin: 15px;
    text-align: center;
    border: 1px solid black;
}
.t-head{
    font-size: 25px;
    padding: 15px;
}
.employee-body-container{
    margin-top: 20px;
}
tr{
    height: 45px;
}
.head{
    margin-right: 20px;
}
.topic{
    background-color: gray;
}
button {
    font-size: 15px;
    margin-left: 10px;
}
table {
    width: 98%
}
.btn{
margin-left: 18px;
}

.emp {
    margin-left: 40px;
}
.home{
    padding-left:20px;
    font-size: xx-large;
}

td button{
    font-size:x-large;
}

pagination-controls{
    color: black;
}
.user{
    font-size: larger;
    margin-right: 15px;
}
